<h1 id="hdr1-show"> Application Show Page! </h1>

<h2> Application Status </h2>
<p id="app-status"><%= @application.status %></p>

<h2>Applicant Contact Info</h2>
<p id="app-name"><%= @application.name %></p>
<p id="app-address">
  <%= @application.street %>, 
  <%= @application.city %>, 
  <%= @application.state %> 
  <%= @application.zip %>
</p>

<h3 id="why-good-home">How can I provide a good home? </h3> 
<p id="app-descr"><%= @application.descr %></p>

<section id='show-pets-on-app'>
  <br>
  <h2 id="hdr1-pets"> My Pets </h2>
  <% @application.pets.each do |pet| %>
    <p id="pet-name"><%= link_to pet.name, "/pets/#{pet.id}" %></p>
  <% end %>
</section> 

<% if @application.status == "In progress" %>
  <br>
  <h1>Add a Pet to this Application</h1>
  <br>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
  <%= form.label "Search for pet" %>
  <%= form.text_field :pet_name%>
  <%= form.submit "Search" %>
<% end %>

  <% @pets.each do |pet| %> 
    <%= form_with url: "/applications/#{@application.id}/pets?pet_ident=#{pet.id}", method: :post, id: "show-#{pet.id}", local: true do |form| %>
      <%= form.label pet.name %>
      <%= form.submit "Adopt this pet" %>
    <% end %>
  <% end %>

  <% if !@application.pets.empty? %>
    <br><br><br>
    <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |form| %>
      <p id="good-owner-label"><%= form.label "Why would you make a good owner?" %></p>
      <p id="good_owner">
        <%= form.text_area :good_owner, size: "70x5", value: nil %> 
      </p>
    <% end %>
    <h3>Submit this Application</h3>
    <%= button_to "Submit this application", "/applications/#{@application.id}?app_submit=true", method: :patch %>
    <br><br><br><br><br><br>
  <% end %>
<% end %>