<h1>Admin Applications</h1> 
<% @application.pets.each do |pet| %>
  <%= form_with url: "/applications/#{@application.id}/pets?pet_ident=#{pet.id}", data: {turbo: false}, method: :patch, local: true do |f|  %>
    <div id=<%= "approve-#{pet.id}" %>>
      <%= f.label :pet_name, "#{pet.name}" %>
      <% if @application.get_pet_app(pet.id).status == "Pending" && pet.adoptable %>
        <%= f.submit "Approve" %>
        <%= f.submit "Reject" %>
      <% elsif @application.get_pet_app(pet.id).status == "Pending" && !pet.adoptable %>
        <%= f.submit "Reject" %>
      <% elsif %>
        <% @application.get_pet_app(pet.id).status != "Pending" %>
          <%= f.label @application.get_pet_app(pet.id).status %>
      <% end %>
    </div>
  <% end %>
<% end %>
<p> Application status: <%= @application.status %> </p>
